<div class="header_container">
<h1>Hello, Rails!</h1>
</div>
<div class="supporting_text">
<p>
  This is the first application for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by <a href="http://www.michaelhartl.com/">Michael Hartl</a>.
</p>
</div>
