<h1>Hello, Rails!</h1>
<p>
  This is the first application for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by <a href="http://www.michaelhartl.com/">Michael Hartl</a>.
</p>
