<nav><p><%= link_to "Home", home_path %></p><p><%= link_to "Articles", articles_path %></p></nav>

<div class="hero_text_container fade-in">
<div class="hero_text_container_main">
<h1 class="hero_text">Landing Page</h1>
</div>
<div class="hero_text_container_secondary">
<p><%= link_to "Chillwave", "https://www.youtube.com/watch?v=kwLTw8F8yN8&ab_channel=Odysseus", target: "_blank" %> mixtape before they sold out</p>
</div>
</div>
<div class="img_container">
 <%= image_tag "Mountains.jpg", height: 800 %>
</div>

<div class="supporting_text">
<p>
Ethical lyft messenger bag hell of tacos. Messenger bag affogato ugh, you probably haven't heard of them synth iceland yuccie waistcoat fam actually air plant pok pok church-key.  
</p>

<p>
Distillery PBR&B whatever street art kinfolk meditation lomo tbh neutra. Franzen chambray bicycle rights, air plant ascot echo park neutral milk hotel mixtape.
Deep v viral kale chips locavore neutral milk hotel, af man bun tumeric paleo pok pok helvetica. 
</p>


</div>

