<div><p><%= link_to "Home", home_path %></p><p><%= link_to "Articles", articles_path %></p></div>
<h1>Landing Page</h1>
<p><%= link_to "Chillwave", "https://www.youtube.com/watch?v=kwLTw8F8yN8&ab_channel=Odysseus", target: "_blank" %> mixtape before they sold out affogato lomo deep v poke.</p>
 <%= image_tag "Mountains.jpg", height: 800 %>
